<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid  d-flex justify-content-center">
        <a class="navbar-brand" href="">Weather App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather Overview
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather/current" hidden="hidden">Current Weather</NavLink>
            <NavLink class="nav-link" href="/weather/daily" hidden="hidden">Daily Forecast</NavLink>
            <NavLink class="nav-link" href="/weather/hourly" hidden="hidden">Hourly Forecast</NavLink>
            <NavLink class="nav-link" href="/weather/minutely" hidden="hidden">Minutely Precipitation Forecast</NavLink>
        </div>
    </nav>
</div>

